VITE_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4ZmY1MmMwMzUzNzc4MDU4YjAzM2EzZmU1ZDMwMThlMSIsIm5iZiI6MTc4NDkxMzI3MC41OTEsInN1YiI6IjZhNjM5ZDc2MTdhYzg2NjdiYzIzYmQ2YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.6SQlU8Xn6_iUI3d2pIw90pof4GX_LaTsqJIvvLE0M2c
IGDB_CLIENT_ID=your_twitch_application_client_id
IGDB_CLIENT_SECRET=your_twitch_application_client_secret
FANART_TV_API_KEY=your_fanart_tv_personal_api_key
LASTFM_API_KEY=your_lastfm_api_key
VITE_APP_CONTACT=you@example.com
