VITE_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4ZmY1MmMwMzUzNzc4MDU4YjAzM2EzZmU1ZDMwMThlMSIsIm5iZiI6MTc4NDkxMzI3MC41OTEsInN1YiI6IjZhNjM5ZDc2MTdhYzg2NjdiYzIzYmQ2YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.6SQlU8Xn6_iUI3d2pIw90pof4GX_LaTsqJIvvLE0M2c
VITE_METADATA_PROXY_URL=http://localhost:8787
VITE_APP_CONTACT=you@example.com
